@media screen and (max-width:1000px){
  .hamburger{
    display:block;
    margin-right:20px;
  }
  .logo-div{
    margin-left:20px;
  }
  nav{
    display:none;
  }
  .header-area {
    background-color: #e2e2e2;
    justify-content: space-between;

  }
  .logo {
    color: black;
  }
  .padajuci-meni{

    display:block;
  }
}
